# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: required
dist: trusty

before_install:
  - sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable --yes
  - sudo apt-get --yes --force-yes update -qq
  - sudo apt-get install --yes libudunits2-dev libproj-dev libgeos-dev libgdal-dev
  - sudo add-apt-repository -y ppa:opencpu/jq
  - sudo apt-get --yes --force-yes update -qq
  - sudo apt-get install libjq-dev
  - sudo apt-get install --yes libprotobuf-dev protobuf-compiler libv8-3.14-dev

addons:
  apt:
    packages:
      - libv8-dev

r_packages:
  - devtools

after_success:
  - Rscript -e 'covr::codecov()'
